[submodule "examples/benchmarks/embench-iot"]
	path = examples/benchmarks/embench-iot
	url = https://github.com/embench/embench-iot.git
[submodule "examples/mrtic"]
	path = examples/mrtic
	url = https://github.com/hegza/rtic-mc-experiments/
