(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("build/verilator_build/waveform.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "TOP",
                "zeroheti_top_wrapper",
                "i_vip",
                "i_scb",
                "ts",
                "[2]",
            ],
            id: Wellen((2433)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (24),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (29),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip",
                            "i_scb",
                            "ts",
                            "[0]",
                        ],
                        id: Wellen((2431)),
                    ),
                    name: "available",
                    id: Wellen((13160)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…[0].available",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip",
                            "i_scb",
                            "ts",
                            "[1]",
                        ],
                        id: Wellen((2432)),
                    ),
                    name: "available",
                    id: Wellen((13168)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…[1].available",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip",
                            "i_scb",
                            "ts",
                            "[0]",
                        ],
                        id: Wellen((2431)),
                    ),
                    name: "ret_avg_cc",
                    id: Wellen((13164)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…[0].ret_avg_cc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip",
                            "i_scb",
                            "ts",
                            "[0]",
                        ],
                        id: Wellen((2431)),
                    ),
                    name: "ret_worst_cc",
                    id: Wellen((13163)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…[0].ret_worst_cc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip",
                            "i_scb",
                            "ts",
                            "[2]",
                        ],
                        id: Wellen((2433)),
                    ),
                    name: "ret_worst_cc",
                    id: Wellen((13179)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…[2].ret_worst_cc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip",
                            "i_scb",
                            "ts",
                            "[0]",
                        ],
                        id: Wellen((2431)),
                    ),
                    name: "dl_cc",
                    id: Wellen((13162)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…[0].dl_cc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip",
                            "i_scb",
                            "ts",
                            "[2]",
                        ],
                        id: Wellen((2433)),
                    ),
                    name: "dl_cc",
                    id: Wellen((13178)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…[2].dl_cc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (22): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (29): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip",
                            "i_scb",
                            "ts",
                            "[2]",
                        ],
                        id: Wellen((2433)),
                    ),
                    name: "started",
                    id: Wellen((13177)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…[2].started",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip",
                            "i_scb",
                            "ts",
                            "[1]",
                        ],
                        id: Wellen((2432)),
                    ),
                    name: "started",
                    id: Wellen((13169)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…[1].started",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (23): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip",
                            "i_scb",
                            "ts",
                            "[1]",
                        ],
                        id: Wellen((2432)),
                    ),
                    name: "ret_worst_cc",
                    id: Wellen((13171)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…[1].ret_worst_cc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip",
                            "i_scb",
                            "ts",
                            "[2]",
                        ],
                        id: Wellen((2433)),
                    ),
                    name: "dl_target_cc",
                    id: Wellen((13181)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…[2].dl_target_cc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip",
                            "i_scb",
                            "ts",
                            "[1]",
                        ],
                        id: Wellen((2432)),
                    ),
                    name: "ret_avg_cc",
                    id: Wellen((13172)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…[1].ret_avg_cc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip",
                            "i_scb",
                            "ts",
                            "[0]",
                        ],
                        id: Wellen((2431)),
                    ),
                    name: "started",
                    id: Wellen((13161)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…[0].started",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip",
                            "i_scb",
                            "ts",
                            "[1]",
                        ],
                        id: Wellen((2432)),
                    ),
                    name: "dl_target_cc",
                    id: Wellen((13173)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…[1].dl_target_cc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip",
                            "i_scb",
                            "ts",
                            "[2]",
                        ],
                        id: Wellen((2433)),
                    ),
                    name: "ret_avg_cc",
                    id: Wellen((13180)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…[2].ret_avg_cc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip",
                            "i_scb",
                            "ts",
                            "[1]",
                        ],
                        id: Wellen((2432)),
                    ),
                    name: "dl_cc",
                    id: Wellen((13170)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…[1].dl_cc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip",
                            "i_scb",
                            "ts",
                            "[0]",
                        ],
                        id: Wellen((2431)),
                    ),
                    name: "dl_target_cc",
                    id: Wellen((13165)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…[0].dl_target_cc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (28): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip",
                            "i_scb",
                            "ts",
                            "[2]",
                        ],
                        id: Wellen((2433)),
                    ),
                    name: "available",
                    id: Wellen((13176)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "…[2].available",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 29,
        viewports: [
            (
                curr_left: (-0.2),
                curr_right: (1.2),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            136074785,
        ])),
        markers: {},
        focused_item: Some((15)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (0),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)