(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    waves: Some((
        source: File("build/verilator_build/waveform.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "TOP",
                "zeroheti_top_wrapper",
                "i_vip_zeroheti_top",
                "i_sim_env",
                "i_scoreboard",
                "task_set[8]",
            ],
        ))),
        displayed_items_order: [
            (1),
            (2),
            (3),
            (4),
            (5),
            (9),
            (6),
            (7),
            (8),
            (10),
            (11),
            (12),
            (13),
            (14),
            (15),
            (16),
            (17),
            (21),
            (18),
            (19),
            (20),
            (25),
            (26),
            (27),
            (28),
            (29),
            (30),
            (31),
            (32),
            (33),
            (34),
            (35),
            (36),
            (37),
            (38),
            (39),
            (40),
            (41),
            (42),
            (43),
            (44),
        ],
        displayed_items: {
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[0]",
                        ],
                    ),
                    name: "active",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[0].active",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (38): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[7]",
                        ],
                    ),
                    name: "active",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[7].active",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[2]",
                        ],
                    ),
                    name: "dl_us",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[2].dl_us [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[3]",
                        ],
                    ),
                    name: "dl_us",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[3].dl_us [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (29): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                        ],
                    ),
                    name: "mbx_dl_us_i",
                ),
                color: None,
                background_color: None,
                display_name: "mbx_dl_us_i [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (31): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[5]",
                        ],
                    ),
                    name: "dl_us",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[5].dl_us [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (40): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[7]",
                        ],
                    ),
                    name: "name",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[7].name [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (25): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (39): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[7]",
                        ],
                    ),
                    name: "dl_us",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[7].dl_us [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[2]",
                        ],
                    ),
                    name: "name",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[2].name [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (10): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                        ],
                    ),
                    name: "rep_dl_us_i",
                ),
                color: None,
                background_color: None,
                display_name: "rep_dl_us_i [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[3]",
                        ],
                    ),
                    name: "name",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[3].name [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[0]",
                        ],
                    ),
                    name: "name",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[0].name [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[3]",
                        ],
                    ),
                    name: "active",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[3].active",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[1]",
                        ],
                    ),
                    name: "active",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[1].active",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[4]",
                        ],
                    ),
                    name: "active",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[4].active",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (33): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                        ],
                    ),
                    name: "enable_i",
                ),
                color: None,
                background_color: None,
                display_name: "enable_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (35): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[6]",
                        ],
                    ),
                    name: "dl_us",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[6].dl_us [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                        ],
                    ),
                    name: "clk_i",
                ),
                color: None,
                background_color: None,
                display_name: "clk_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[4]",
                        ],
                    ),
                    name: "dl_us",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[4].dl_us [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (9): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (42): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[8]",
                        ],
                    ),
                    name: "active",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[8].active",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (32): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[5]",
                        ],
                    ),
                    name: "name",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[5].name [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (28): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[4]",
                        ],
                    ),
                    name: "name",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[4].name [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[1]",
                        ],
                    ),
                    name: "dl_us",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[1].dl_us [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (37): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (43): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[8]",
                        ],
                    ),
                    name: "dl_us",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[8].dl_us [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[0]",
                        ],
                    ),
                    name: "dl_us",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[0].dl_us [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                        ],
                    ),
                    name: "wrn_dl_us_i",
                ),
                color: None,
                background_color: None,
                display_name: "wrn_dl_us_i [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (21): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (34): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[6]",
                        ],
                    ),
                    name: "active",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[6].active",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (44): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[8]",
                        ],
                    ),
                    name: "name",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[8].name [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[1]",
                        ],
                    ),
                    name: "name",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[1].name [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (41): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (30): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[5]",
                        ],
                    ),
                    name: "active",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[5].active",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (14): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[2]",
                        ],
                    ),
                    name: "active",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[2].active",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (36): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "i_scoreboard",
                            "task_set[6]",
                        ],
                    ),
                    name: "name",
                ),
                color: None,
                background_color: None,
                display_name: "…task_set[6].name [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
        },
        display_item_ref_counter: 44,
        viewports: [
            (
                curr_left: (-0.03917748035389909),
                curr_right: (1.1070451996305088),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            609816079,
        ])),
        markers: {},
        focused_item: Some((40)),
        focused_transaction: (None, None),
        selected_items: [],
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_name_filter_type: Fuzzy,
    variable_name_filter_case_insensitive: true,
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)