(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("build/verilator_build/waveform.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "TOP",
                "zeroheti_top_wrapper",
                "i_vip_zeroheti_top",
                "i_sim_env",
                "g_motors[0]",
                "i_motor",
            ],
            id: Wellen((131)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (42),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (43),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (45),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (44),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (46),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (47),
                    level: 0,
                    unfolded: true,
                    selected: true,
                ),
                (
                    item_ref: (48),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (49),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (50),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (51),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (52),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (53),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (54),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (55),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (47): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "g_motors[0]",
                            "i_motor",
                        ],
                        id: Wellen((131)),
                    ),
                    name: "jitter_worst_us",
                    id: Wellen((1148)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "jitter_worst_us [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (50): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "g_motors[0]",
                            "i_motor",
                        ],
                        id: Wellen((131)),
                    ),
                    name: "period_short_us",
                    id: Wellen((1147)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "period_short_us [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (52): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "g_motors[0]",
                            "i_motor",
                        ],
                        id: Wellen((131)),
                    ),
                    name: "prescaler_i",
                    id: Wellen((1136)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "prescaler_i [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (54): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "g_motors[0]",
                            "i_motor",
                        ],
                        id: Wellen((131)),
                    ),
                    name: "time_last_us",
                    id: Wellen((1144)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "time_last_us [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (48): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "g_motors[0]",
                            "i_motor",
                        ],
                        id: Wellen((131)),
                    ),
                    name: "period_last_us",
                    id: Wellen((1145)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "period_last_us [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (42): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "g_motors[0]",
                            "i_motor",
                        ],
                        id: Wellen((131)),
                    ),
                    name: "clk_i",
                    id: Wellen((1137)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "clk_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (43): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "g_motors[0]",
                            "i_motor",
                        ],
                        id: Wellen((131)),
                    ),
                    name: "control_rdata_o",
                    id: Wellen((1142)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "control_rdata_o [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (49): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "g_motors[0]",
                            "i_motor",
                        ],
                        id: Wellen((131)),
                    ),
                    name: "period_long_us",
                    id: Wellen((1146)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "period_long_us [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (46): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "g_motors[0]",
                            "i_motor",
                        ],
                        id: Wellen((131)),
                    ),
                    name: "enable_i",
                    id: Wellen((1138)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "enable_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (51): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "g_motors[0]",
                            "i_motor",
                        ],
                        id: Wellen((131)),
                    ),
                    name: "period_target_i",
                    id: Wellen((1139)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "period_target_i [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (44): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "g_motors[0]",
                            "i_motor",
                        ],
                        id: Wellen((131)),
                    ),
                    name: "control_valid_i",
                    id: Wellen((1140)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "control_valid_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (55): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "g_motors[0]",
                            "i_motor",
                        ],
                        id: Wellen((131)),
                    ),
                    name: "time_us",
                    id: Wellen((1143)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "time_us [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (53): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "g_motors[0]",
                            "i_motor",
                        ],
                        id: Wellen((131)),
                    ),
                    name: "ps",
                    id: Wellen((1149)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "ps [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (45): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_vip_zeroheti_top",
                            "i_sim_env",
                            "g_motors[0]",
                            "i_motor",
                        ],
                        id: Wellen((131)),
                    ),
                    name: "control_wdata_i",
                    id: Wellen((1141)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "control_wdata_i [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 55,
        viewports: [
            (
                curr_left: (0.12177606015946946),
                curr_right: (0.9669480049184411),
                target_left: (-0.2),
                target_right: (1.2),
                move_start_left: (-0.2),
                move_start_right: (1.2),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            2473328500,
            1,
        ])),
        markers: {},
        focused_item: Some((5)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (2),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)