(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("build/verilator_build/waveform.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "TOP",
                "zeroheti_top_wrapper",
                "i_zeroheti",
                "i_core",
                "i_superheti",
                "i_fetch_stage",
            ],
            id: Wellen((773)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (27),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (29),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (30),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (31),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (32),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (33),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (34),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (35),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (36),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (37),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (38),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (39),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (40),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (29): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_zeroheti",
                            "i_core",
                            "i_superheti",
                            "i_fetch_stage",
                        ],
                        id: Wellen((773)),
                    ),
                    name: "fetch_data_o",
                    id: Wellen((4289)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "fetch_data_o [47:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_zeroheti",
                            "i_core",
                            "i_superheti",
                            "i_fetch_stage",
                        ],
                        id: Wellen((773)),
                    ),
                    name: "boot_addr_i",
                    id: Wellen((4281)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "boot_addr_i [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (31): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_zeroheti",
                            "i_core",
                            "i_superheti",
                            "i_fetch_stage",
                        ],
                        id: Wellen((773)),
                    ),
                    name: "instr_addr_o",
                    id: Wellen((4284)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "instr_addr_o [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (40): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_zeroheti",
                            "i_core",
                            "i_superheti",
                            "i_fetch_stage",
                        ],
                        id: Wellen((773)),
                    ),
                    name: "state_next",
                    id: Wellen((4291)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "state_next [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (36): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_zeroheti",
                            "i_core",
                            "i_superheti",
                            "i_fetch_stage",
                        ],
                        id: Wellen((773)),
                    ),
                    name: "instr_rvalid_i",
                    id: Wellen((4286)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "instr_rvalid_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (34): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_zeroheti",
                            "i_core",
                            "i_superheti",
                            "i_fetch_stage",
                        ],
                        id: Wellen((773)),
                    ),
                    name: "instr_rdata_i",
                    id: Wellen((4285)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "instr_rdata_i [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (35): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_zeroheti",
                            "i_core",
                            "i_superheti",
                            "i_fetch_stage",
                        ],
                        id: Wellen((773)),
                    ),
                    name: "instr_req_o",
                    id: Wellen((4282)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "instr_req_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (30): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_zeroheti",
                            "i_core",
                            "i_superheti",
                            "i_fetch_stage",
                        ],
                        id: Wellen((773)),
                    ),
                    name: "fetch_valid_o",
                    id: Wellen((4290)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "fetch_valid_o [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (32): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_zeroheti",
                            "i_core",
                            "i_superheti",
                            "i_fetch_stage",
                        ],
                        id: Wellen((773)),
                    ),
                    name: "instr_err_i",
                    id: Wellen((4287)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "instr_err_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (33): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_zeroheti",
                            "i_core",
                            "i_superheti",
                            "i_fetch_stage",
                        ],
                        id: Wellen((773)),
                    ),
                    name: "instr_gnt_i",
                    id: Wellen((4283)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "instr_gnt_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (37): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_zeroheti",
                            "i_core",
                            "i_superheti",
                            "i_fetch_stage",
                        ],
                        id: Wellen((773)),
                    ),
                    name: "rst_ni",
                    id: Wellen((4280)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rst_ni",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (38): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_zeroheti",
                            "i_core",
                            "i_superheti",
                            "i_fetch_stage",
                        ],
                        id: Wellen((773)),
                    ),
                    name: "stall_i",
                    id: Wellen((4288)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "stall_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (39): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_zeroheti",
                            "i_core",
                            "i_superheti",
                            "i_fetch_stage",
                        ],
                        id: Wellen((773)),
                    ),
                    name: "state_current",
                    id: Wellen((4292)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "state_current [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (28): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "zeroheti_top_wrapper",
                            "i_zeroheti",
                            "i_core",
                            "i_superheti",
                            "i_fetch_stage",
                        ],
                        id: Wellen((773)),
                    ),
                    name: "clk_i",
                    id: Wellen((4279)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "clk_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 40,
        viewports: [
            (
                curr_left: (-0.00000633857694887765),
                curr_right: (0.0016269595093738932),
                target_left: (-0.000003276143037022449),
                target_right: (0.001630021943285748),
                move_start_left: (-0.000003276143037022449),
                move_start_right: (0.001630021943285748),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            633528,
        ])),
        markers: {},
        focused_item: None,
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)