# Copyright lowRISC contributors.
# Licensed under the Apache License, Version 2.0, see https://github.com/lowRISC/ibex/blob/master/LICENSE for details.
# SPDX-License-Identifier: Apache-2.0
#
# GitHub Action to run Verible linting on pull requests and add review comments.
#
# See https://github.com/chipsalliance/verible-linter-action.

name: pr-lint

# Triggers when there is any activity on a pull request, e.g. opened, updated.
on:
    merge_group:
        types:
            - checks_requested
    pull_request:
        branches:
            - "*"

jobs:
    verible-lint:
        permissions:
            checks: write
            contents: read
            pull-requests: write
        runs-on: ubuntu-latest
        env:
            verible_config: "rules.verible_lint"
        steps:
            - uses: actions/checkout@v4
            - run: |
                  git fetch origin main
            - name: Display Verible config
              run: |
                  echo "::group::Verible config"
                  cat "$verible_config"
                  echo "::endgroup::"
            - name: Run Verible linter action
              uses: chipsalliance/verible-linter-action@main
              with:
                  config_file: ${{ env.verible_config }}
                  paths: |
                      ./rtl
                      ./fpga
                  extra_args: "--check_syntax=true"
                  extensions: |
                      .sv
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  reviewdog_reporter: github-pr-check
            - name: Setup reviewdog
              uses: reviewdog/action-setup@v1
            - name: Run reviewdog
              env:
                  REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  verible-verilog-lint **/*.sv | reviewdog -diff="git diff origin/main" -conf ${{ env.verible_config }}
